@media screen and (min-width: 767px) {
  .container {
    display: grid;
  }
  .g-signin2 > div {
    width: 50%;
    margin: auto;
  }
  .container form {
    margin: 0 auto;
    display: grid;
    width: 50%;
  }
  nav {
    font-size: 1.3em;
  }
  nav input, nav button {
    margin-top: 10px;
    padding: 0.8em 1.2em;
  }
  nav input {
    width: 20em;
  }
}
