@media screen and (min-width: 767px) {

  .container {
    display: grid;
  }

  .container {
    min-height: 400px;
    display: grid;
    width: 80%;
  }

  nav {
    font-size: 1.3em;
  }

  nav input, nav button {
    margin-top: 10px;
    padding: 0.8em 1.2em;
  }

  nav input {
    width: 20em;
  }

  .view span {
    display: inline-block;
    margin: auto;
  }

  .addView {
    width: 80%;
  }

  .addView button {
    width: 20%;
  }

  .loginView {
    margin: auto;
    width: 50%;
  }

  .card {
    margin: calc(100%/32);
    max-width: 160px;
  }

}

@media screen and (min-width: 600px) {
  .card {
    margin: calc(100%/40);
  }
}
