html, body {
  font-family: 'Georgia', serif, -apple-system;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F7F4F0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  align-items: center;
  align-content: center;
}

nav {
  background-color: #EAECEE;
  width: 100%;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

li {
  color: #626567;
  border: 2px;
  border-radius: 2px;
}

nav li {
  padding: 10px 5px;
  display: inline-flex;
}

nav input, nav button {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0.5em 1em;
}

.container form {
  margin: 0;
  display: grid;
  width: 100%;
}

.container form button {
  margin-bottom: 10px;
}

body {
  text-align: center;
  align-items: center;
  display: inline-flex;
}

input {
  padding: 0.9em 1em;
  border: 1px solid;
  border-radius: 1px;
  border-color: #C8C8C8;
  outline: none;
}
input, button {
  margin: 5px;
  border-color: #C8C8C8;
}

button {
  padding: 0.9em 1em;
  background-color: #67C1FF;
  color: white;
  border: 0.5px solid grey;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button:hover, button:focus, input:focus {
  background-color: #5DADE2;
}

input:focus {
  background-color: #F7F4F0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: #17202A;
}

.delete_item:hover, .delete_item:visited:hover {
  color: #FF3D3D;
}
