{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if items %}
    <ul class=items>
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form action="{{ url_for('add') }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="input" name="name" placeholder="Name">
  <input type="input" name="catag" placeholder="catag">
  <input type="submit" value="Add">
</form>

{% endblock %}
