<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Catalog</title>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/knockout-3.4.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class='nav_basic'>
          <a data-bind="attr: { href: Home.url }, text: Home.title"></a>
          <a data-bind="attr: { href: Items.url }, text: Items.title"></a>
          <a data-bind="attr: { href: API.url }, text: API.title"></a>
          <a data-bind="attr: { href: Users.url }, text: Users.title, visible: loggedIn"></a>
          <a data-bind="attr: { href: Login.url }, text: Login.title, visible: !loggedIn()"></a>
          <a data-bind="attr: { href: Logout.url }, text: Logout.title, visible: loggedIn()"></a>
        </div>
      </nav>
    </header>

      <div class="container">
        {% block content %}{% endblock %}
      </div>

    <footer>
      <p>Designed by Amr.</p>
    </footer>

    <script style="display: none" type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";
      var current_user_authed = "{{ current_user_authed }}" === 'true';

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
          }
      });

    </script>
  </body>
</html>
