{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  mainViewModel.refreshContent();
</script>
{% endblock %}
{% block content %}
<p data-bind="visible: !mainViewModel.content().length">No items.</p>
<p data-bind="visible: mainViewModel.content().length">Items:</p>
<div class='itemsview'>

  <!-- ko foreach: mainViewModel.content -->
    <span class='card' style="background-image: ">
      <img data-bind="attr: { src: image_filename }">
      <p id='name' data-bind="enable: mainViewModel.loggedIn, text: name"></p>
      <p id='catagory' data-bind="enable: mainViewModel.loggedIn, text: catagory"></p>
    </span>
  <!-- /ko -->
</div>

{% endblock %}
