{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  mainViewModel.refreshContent();
</script>
{% endblock %}
{% block content %}

<div class='itemsview'>
  <p data-bind="visible: !mainViewModel.content().length">No items.</p>
  <p data-bind="visible: mainViewModel.content().length">Items:</p>
  <!-- ko foreach: mainViewModel.content -->
    <span>
      <p data-bind="enable: mainViewModel.loggedIn, text: name"></p> —
      <p data-bind="enable: mainViewModel.loggedIn, text: catagory"></p>
      <!-- <img data-bind='attr: { src: image_filename}' alt=""> -->
    </span>
  <!-- /ko -->
</div>

{% endblock %}
