{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  mainViewModel.refreshContent(true);

  function showAddForm() {
    addModel.active(!addModel.active());
    $('#itemNameInputField').focus();
  }
</script>
{% endblock %}
{% block content %}

<div class="view">
  <div class="addView" data-bind="visible: mainViewModel.loggedIn()">
    <button
    type="button"
    class="addButton"
    onclick="showAddForm();">Add</button>
    <form data-bind="if: mainViewModel.loggedIn(), visible: addModel.active(), submit: addModel.submit">
        <input id='itemNameInputField' data-bind="textInput: addModel.itemName" name='item_name' type="text" placeholder="Item name" required autofocus>
        <input data-bind="textInput: addModel.itemCatagory" name='item_catagory' type="text" placeholder="Item catagory" required>
        <input data-bind='value: addModel.itemFile' name='item_file' type="file">
        <button type='submit'>Commit</button>

        <!-- ViewModel:
        <pre data-bind="text: ko.toJSON(addModel, null, 2)"></pre> -->
    </form>
  </div>
</div>

<p data-bind="visible: !mainViewModel.content().length">No items.</p>

<div class="flexview">
  <!-- ko foreach: mainViewModel.content -->
  <div class="dataview">
    <span id='image'>
      <img data-bind="attr: { src: image_filename }">
    </span>

    <span id='data'>
      <input class='name' data-bind="enable: mainViewModel.loggedIn, textInput: name">
      <input class='catagory' data-bind="enable: mainViewModel.loggedIn, textInput: catagory">
    </span>

    <span id='options' data-bind="visible: mainViewModel.loggedIn">
      <button data-bind='click: mainViewModel.remove' id='delete' type="button">Delete</button>
      <button data-bind='click: mainViewModel.edit' id='edit' type="button">Edit</button>
    </span>
  </div>
  <!-- /ko -->
</div>
{% endblock %}
