{% extends "base.html" %}
{% block head %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="957567508066-ju7cas7bvc93aqbpmr717gcpljojj070.apps.googleusercontent.com">
<meta name="google-signin-scope" content="profile email">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</script>
{% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>

<div class="result">

</div>

<div class="g-signin2" data-onsuccess="onSignIn"></div>


  <script>
  var csrf_token = "{{ csrf_token() }}";

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });

  function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;

    $('.g-signin2').attr('style', 'display: none');

    $.ajax({
      type: 'POST',
      url: '/gconnect',
      processData: false,
      data: id_token,
      contentType: 'application/octet-stream; charset=utf-8',
      // success: function(result) {
      //   console.log(result);
      //   $(".result").html(JSON.stringify(result));
      // }
    });
    }
    </script>

{% endblock %}
