{% extends "base.html" %}
{% block head %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="957567508066-ju7cas7bvc93aqbpmr717gcpljojj070.apps.googleusercontent.com">
<meta name="google-signin-scope" content="profile email">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</script>
{% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

  <script>
  function onSignIn(googleUser) {
    var csrf_token = "{{ csrf_token() }}";

    var id_token = googleUser.getAuthResponse().id_token;

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/gconnect');
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('idtoken=' + id_token);
    }
  </script>


{% endblock %}
