{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/search" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" name="text" placeholder="keyword">
  <button type="submit" name="search">Search</button>
</form>

{% if query is iterable %}
  {% for item in query %}
    <li>{{ item.name }} - {{ item.catag }} -
      <a href="/{{item.catag}}/{{item.name}}">Link</a> -
      <a href="/{{item.catag}}/{{item.name}}/edit">Edit</a> -
      <a href="/{{item.catag}}/{{item.name}}/delete">Delete</a>
    </li>
  {% endfor %}
{% else %}
  <li>{{ query.name }} - {{ query.catag }} -
    <a href="/{{query.catag}}/{{query.name}}">Link</a> -
    <a href="/{{query.catag}}/{{query.name}}/edit">Edit</a> -
    <a href="/{{query.catag}}/{{query.name}}/delete">Delete</a>
  </li>
{% endif %}
