{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('search') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" name="text" placeholder="keyword">
  <button type="submit" name="search">Search</button>
</form>

{% if query is iterable %}
  {% for item in query %}
  <li>{{ item.id }} - {{ item.name }} - {{ Item.catagory }} -
    <a href="{{ url_for('view', catagory=Item.catagory, name=item.name) }}">Link</a> -
    <a href="{{ url_for('image_get', path=item.image_filename) }}">Image</a> -
    <a href="{{ url_for('edit', catagory=Item.catagory, name=item.name) }}">Edit</a> -
    <a class="delete_item" href="{{ url_for('delete', catagory=Item.catagory, name=item.name) }}">Delete</a> -
    <a href="{{ url_for('api_item_by_id', id=item.id) }}">API</a>
  </li>
  {% endfor %}
{% else %}
<li>{{ query.id }} - {{ query.name }} - {{ query.catagory }} -
  <a href="{{ url_for('view', catagory=query.catagory, name=query.name) }}">Link</a> -
  <a href="{{ url_for('image_get', path=query.image_filename) }}">Image</a> -
  <a href="{{ url_for('edit', catagory=query.catagory, name=query.name) }}">Edit</a> -
  <a class="delete_item" href="{{ url_for('delete', catagory=query.catagory, name=query.name) }}">Delete</a> -
  <a href="{{ url_for('api_item_by_id', id=query.id) }}">API</a>
</li>
{% endif %}
{% endblock %}
